.container {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid white;
  padding-top: 10%;
  padding-bottom: 10%;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  max-width: 1200px;
  margin: 5% auto;
  padding-left: 2%;
  padding-right: 2%;
}

.text {
  font-size: clamp(1rem, 3.5vw, 3rem);
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
}