.container {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #131313;
}

.box {
  height: auto;
  max-width: 730px;
  margin: 5% auto;
  padding-left: 2%;
  padding-right: 2%;
  
  opacity: 0;
  transition: all .7s;
  filter: blur(5px);
  /* transform: translateX(-100%); */
}

.showBox {
  opacity: 1;
  filter: blur(0px);
  /* transform: translateX(0%); */
}

.text {
  font-size: clamp(1.2rem, 2vw, 2.7rem);
  font-family: 'Rubik Mono One', sans-serif;
  color: #efeeee;
  user-select: none;
}

.right {
  text-align: right;
}

.hr {
  margin-top: 3%;
  margin-bottom: 3%;
}

@media (max-width: 767px) {
  .container {
    height: 80vh;
  }

  .right {
    text-align: left;
  }
}