.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #131313;
}

.nameBox {
  height: auto;
  width: fit-content;
  position: absolute;
  left: 10%;
  bottom: 20%;
}

.firstName {
  font-size: clamp(4rem, 15vw, 18rem);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  color: #efeeee;
  margin-bottom: -18%;
  user-select: none;
}

.lastName {
  font-size: clamp(4rem, 15vw, 18rem);
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  color:transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: -4%;

  background-image: url("../../assets/1-text-bg.jpg");
  background-size: 130%;

  animation: bg-animation 70s cubic-bezier(0.3,0,0.7,1) infinite;
  user-select: none;
}

@keyframes bg-animation {
  0% {background-position: 0% 0%;}
  50% {background-position: 100% 100%;}
  100% {background-position: 0% 0%;}
}

.position {
  font-size: clamp(1rem, 3.5vw, 3rem);
  font-family: 'Rubik Mono One', sans-serif;
  color: #efeeee;
  margin-left: 1.5%;
  user-select: none;
}

.icon {
  color: #efeeee;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2%;
}