.container {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 50;

  font-size: clamp(1rem, 1vw, 1.5rem);
  text-transform: lowercase;
  letter-spacing: 1.2px;
  font-family: 'Lexend Deca', sans-serif;
  color: #efeeee;
  mix-blend-mode: difference;
  text-align: right;

  border-right: 2px solid #efeeee;
  padding-right: 0.2vw;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  cursor: none;
  /* color: #ffd230; */
  text-transform: uppercase;
}

.hide {
  opacity: 0;
  transition: all .3s;
  filter: blur(5px);
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  transition: all .3s;
  filter: blur(0px);
  transform: translateY(0%);
}

@media (max-width: 1412px) {

  .container {
    top: 0%;
    right: 0%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-right: none;
    background: #131313;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-size: 25%;
    color: #ffd230;
    mix-blend-mode: unset;
  }
}